.book__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow: hidden;
    min-height: 80vh;
    max-width: 1440px;
    margin-inline: auto;
    padding-block: 1rem;
}

.book__item img {
    width: 250px;
    height: 350px;
    border-radius: 1rem;
    transition: 0.3s;
    opacity: 0.8;
}

.book__item img:hover {
    opacity: 1;
}

.book__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 310px;
    margin-block: 1rem;
    text-align: center;
}

/* Search Bar */

.search__bar {
    display: flex;
    align-items: center;
    width: 50%;
    height: 3rem;
    margin: 1rem auto;
    padding-inline: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 0.5rem;
}

input:focus {
    outline: none;
}

.search__icon {
    color: #121212;
    width: 30px;
    height: 30px;
}

/* Media Queries */

@media (max-width: 1024px) {
    .book__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .search__bar {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .book__container {
        grid-template-columns: 1fr;
    }

    .search__bar {
        width: 70%;
    }
}
